.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main{
    background-color: cornsilk;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.order-option{
    padding: 10px;
    border: 1px solid black ;
    margin-bottom: 5px;
    border-radius: 5px;
}